* {
    box-sizing: border-box;
}

body {
    background-color: #eeeeee;
}

.header-title {
    flex: 1;
}

.loader {
    margin: 50px auto 0;
}

header {
    margin-bottom: 8px;
}

.content {
    padding: 10px 20px;
}

.text {
    width: 100%;
}

.btn {
    margin: 10px 0 0 !important;
}